# ==========================================
# CartoonDex - Configurações de Ignore do Git
# ==========================================

# Arquivo de configuração local com TOKENS e SENHAS
.env

# Pastas e arquivos gerados automaticamente pelo Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos do ambiente virtual do Python
venv/
.venv/
env/

# Arquivos temporários de sistemas operacionais
.DS_Store
Thumbs.db

# Arquivos de mídia e armazenamento local
particular/

# Scripts locais auxiliares
*.bat